[user]
	name = rafaelglikis
	email = rafaelglikis@gmail.com

[core]
	autocrlf = input

[alias]
	git = !exec git
    econf = config --global --edit
	# Log
    ll = log --oneline
    lol = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    last = !git --no-pager log -1 HEAD --stat
	# Commit
    append = commit -a --amend --no-edit
    undo = reset HEAD~
    # Branch
    fix = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	hreset = reset --hard
    # Tagging
    retag = "!f() { git tag -f -a \"$1\" -m \"$1\" && git push origin \"$1\" -f; }; f"
	deltag = "!f() { git tag -d \"$1\" && git push --delete origin \"$1\"; }; f"
    # Misc
    st = status -s
    pr = pull --rebase
	fp = push --force
	dv = difftool -t vimdiff -y

[color]
  branch = always
  diff = auto
  grep = always
  interactive = always
  pager = true
  showbranch = auto
  status = auto
  ui = always

# git mergetool
[merge]
  tool = meld
	renameLimit = 0

[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[help]
	autocorrect = 1

[push]
	default = current
	followTags = true

[fetch]
	prune = true

[stash]
	showPatch = true

[log]
    date = relative