* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
    background: #2e3440;
}

window#waybar {
    color: #d8dee9;
}

#workspaces button plugin {
    color: #d8dee9;
}

#workspaces button.active {
    color: #8fbcbb;
}

#workspaces button.focused {
    color: #81a1c1;
}

#workspaces button.urgent {
    color: #bf616a;
}

#workspaces button:hover {
    color: #88c0d0;
}

#window,
#clock,
#battery,
#network,
#bluetooth,
#temperature,
#custom-memory,
#workspaces,
#language,
#tray,
#backlight {
    padding: 0 5px;
}

#pulseaudio{
    padding: 0 10px;
}

#custom-temperature.critical {
    color: #bf616a;
}

#workspaces {
    background: #3b4252;
    padding-right: 0;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a3be8c;
    border-left: 0;
    border-right: 0;
}

#battery.warning {
    color: #d08770;
}

#battery.critical {
    color: #bf616a;
}