source .vimrc
let $PATH=$PATH.":/home/rafael/bin"
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
Plug 'tpope/vim-surround' " https://github.com/tpope/vim-surround
set scrolloff=8
set ideajoin
set surround
set sneak
set easymotion
set quickscope
set idearefactormode=visual
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T', 's', 'S']
"IdeaVim: Track Action IDs
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

" Reimport sources bindings
nnoremap <leader><CR> :source ~/.ideavimrc<CR>
map <leader>jj :e ~/.ideavimrc<CR>

" IDE Shortcuts
" Use ctrl-c as an ide shortcut in normal and visual modes
sethandler <C-C> n-v:ide i:vim
sethandler <C-V> n-v:vim i:ide
sethandler <C-[> a:ide
sethandler <C-]> a:ide
" nmap % <Action>(EditorMatchBrace)

" Window Management
" Window Management - Splits
nmap <leader>u <Action>(Unsplit)
nmap <leader>U <Action>(UnsplitAll)
nmap <leader>f :tabo<CR>
" Window Management - Splits - Navigation
nnoremap <A-J> <C-W><C-J>
nnoremap <A-K> <C-W><C-K>
nnoremap <A-L> <C-W><C-L>
nnoremap <A-S-l> :action MoveTabRight<cr>
nnoremap <A-H> <C-W><C-H>
" Window Management - Splits - Resize
map <C-A-k> <Action>(StretchSplitToTop)
map <C-A-j> <Action>(StretchSplitToBottom)
map <C-A-h> <Action>(StretchSplitToLeft)
map <C-A-l> <Action>(StretchSplitToRight)
map <C-A-m> <Action>(MaximizeEditorInSplit)
" Window Management - Splits - Move
map <A-S-m> <Action>(MoveEditorToOppositeTabGroup)

" Git
map <leader>g <Action>(Git.Menu)
map <leader>gb <Action>(Git.Branches)
" Git Update
map <leader>gp <Action>(Vcs.UpdateProject)
map <leader>gP <Action>(Vcs.Push)
map <leader>gf <Action>(Git.Fetch)
map <leader>gm <Action>(Git.ResolveConflicts)
map <leader>gd <Action>(Diff.ShowDiff)
" Git Commit
map <leader>gc <Action>(CheckinProject)
nmap <leader>gs <Action>(Git.Show.Stash)
" Git Revert
map <leader>gr <Action>(Vcs.RollbackChangedLines)
map <leader>gR <Action>(ChangesView.Revert)
" Git Log
nmap <leader>gl <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gL <Action>(Vcs.Show.Log)
nmap <leader>gg <Action>(Vcs.Log.OpenAnotherTabInEditor)
vmap <leader>gl <Action>(Vcs.ShowHistoryForBlock)
map <leader>ga <Action>(Annotate)

" General Editor Bindings
map <A-.> gt
map <A-,> gT
map <leader>jf :action HideAllWindows<CR>
map <leader>jF :action ToggleDistractionFreeMode<CR>
map <leader>jd :action PhpListenDebugAction<CR>
map <leader>jg :action EditorToggleShowGutterIcons<CR>
"map <leader>ce :action copilot.enableCopilot<CR>
"map <leader>cd :action copilot.disableCopilot<CR>

" Tools
" Tools - Scratch
map <leader>N <Action>(NewElement)
map <leader>sn <Action>(NewScratchFile)
map <leader>sl <Action>(Scratch.ShowFilesPopup)
" Tools - Terminal
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>T <Action>(Terminal.OpenInTerminal)

" Code Navigation
map <leader>b <Action>(GotoDeclaration)
" Code Navigation - Files
map <leader>e <Action>(RecentFiles)
map gf <Action>(GotoFile)
nmap gf <Action>(EditorSelectWord)<Action>(GotoFile)
nmap <leader>1 <Action>(SelectInProjectView)
" Code Navigation - Selections
vmap n <Action>(SelectNextOccurrence)
vmap w <Action>(EditorSelectWord)
vmap W <Action>(EditorUnSelectWord)
" Code Navigation - Back and Forward
map <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)
" Code Navigation - Find and replace
map <leader>S <Action>(FileStructurePopup)
nmap <leader>/ <Action>(Find)
map <leader>? <Action>(Replace)
map <leader>F <Action>(FindInPath)
map <leader>R <Action>(ReplaceInPath)
vmap H <Action>(HighlightUsagesInFile)
" Code Navigation - Next previews bindings
map <leader>[ <Action>(EditorCodeBlockStart)
map <leader>] <Action>(EditorCodeBlockEnd)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
" Code Navigation - Next previews bindings - Errors
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
" Code Navigation - Next previews bindings - Git
map ]g <Action>(VcsShowNextChangeMarker)
map [g <Action>(VcsShowPrevChangeMarker)
" Code Navigation - Next previews bindings - Bookmarks
nmap ]b <Action>(GotoNextBookmark)
nmap [b <Action>(GotoPreviousBookmark)

" Bookmarks
nmap <leader>mm <Action>(ToggleBookmark)
" Bookmarks - Manage
nmap <leader>mr <Action>(EditBookmark)
nmap <leader>ml <Action>(ShowBookmarks)
nmap <leader>mj <Action>(GotoNextBookmark)
" Bookmarks - References
map <leader>c <Action>(CopyPathFromRepositoryRootProvider)
map <leader>C <Action>(CopyReference)

" Code Generation
nmap <leader>G <Action>(Generate)
map <leader>I <Action>(ImplementMethods)
map <leader>O <Action>(OverrideMethods)

" Refactorings
vmap T <Action>(Refactorings.QuickListPopupAction)
vmap C <Action>(IntroduceConstant)
vmap V <Action>(IntroduceVariable)
vmap M <Action>(ExtractMethod)
vmap <leader>v <Action>(IntroduceVariable)
vmap <leader>c <Action>(IntroduceConstant)
vmap <leader>m <Action>(ExtractMethod)
" Refactorings - Normal mode
nmap <leader>o <Action>(OptimizeImports)
nmap <leader>i <Action>(Inline)
nmap <leader>r <Action>(RenameElement)
nmap <leader>p <Action>(IntroduceParameter)
nmap <leader>P <Action>(IntroduceField)

" Debug
map <leader>B <Action>(ToggleLineBreakpoint)
vmap <leader>r <Action>(EvaluateExpression)
nmap <leader>w <Action>(Debugger.AddToWatch)
nmap <leader>. <Action>(Resume)
nmap <leader>> <Action>(RunToCursor)
nmap <leader>do <Action>(StepOver)
nmap <leader>dO <Action>(StepOut)
nmap <leader>di <Action>(StepInto)

" Run
map <leader>jr <Action>(HTTPClient.RunAll)

" Code info
map <leader>q <Action>(QuickJavaDoc)

"if &ide =~? 'PhpStorm'
"endif
