source .vimrc

" Setup
let $PATH=$PATH.":/home/rafael/bin"
Plug 'tpope/vim-surround'
set scrolloff=8
set ideajoin
set surround
set sneak
set easymotion
set quickscope
set idearefactormode=keep
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T', 's', 'S']

" IDE
sethandler <C-C> n-v:ide i:vim
sethandler <C-V> n-v:vim i:ide
sethandler <C-[> a:ide
sethandler <C-]> a:ide
" IDE - Reimport sources bindings
nnoremap <leader><CR> :source ~/.ideavimrc<CR>
map <leader>jj :e ~/.ideavimrc<CR>

" Window Management
map <leader>jw <Action>(EditorToggleUseSoftWraps)
" Window Management - Editor
map <leader>jf <Action>(HideAllWindows)
map <leader>jF <Action>(ToggleDistractionFreeMode)
map <leader>jg <Action>(EditorToggleShowGutterIcons)
" Window Management - Tabs
map <A-.> gt
map <A-,> gT
" Window Management - Splits
nmap <leader>u <Action>(Unsplit)
nmap <leader>U <Action>(UnsplitAll)
nmap <leader>f :tabo<CR>
" Window Management - Splits - Navigation
nnoremap <A-J> <C-W><C-J>
nnoremap <A-K> <C-W><C-K>
nnoremap <A-L> <C-W><C-L>
nnoremap <A-H> <C-W><C-H>
" Window Management - Splits - Resize
map <C-A-k> <Action>(StretchSplitToTop)
map <C-A-j> <Action>(StretchSplitToBottom)
map <C-A-h> <Action>(StretchSplitToLeft)
map <C-A-l> <Action>(StretchSplitToRight)
map <C-A-m> <Action>(MaximizeEditorInSplit)
" Window Management - Splits - Move
map <A-S-l> <Action>(MoveTabRight)
map <A-S-m> <Action>(MoveEditorToOppositeTabGroup)

" Git
map <leader>g <Action>(Git.Menu)
" Git - Branch
map <leader>gb <Action>(Git.Branches)
map <leader>gB <Action>(Git.CreateNewBranch)
map <leader>gT <Action>(Git.Tag)
" Git - Update
map <leader>gp <Action>(Vcs.UpdateProject)
map <leader>gP <Action>(Vcs.Push)
map <leader>gf <Action>(Git.Fetch)
" Git - Update - Merge
map <leader>gd <Action>(Diff.ShowDiff)
map <leader>gm <Action>(Git.Merge)
nmap <leader>gC <Action>(Git.ResolveConflicts)
vmap <leader>gC <Action>(CompareClipboardWithSelection)
map <leader>gA <Action>(Diff.ApplyNonConflicts)
" Git - Commit
map <leader>gc <Action>(CheckinProject)
nmap <leader>gs <Action>(Git.Show.Stash)
nmap <leader>gS <Action>(Git.Stash)
" Git - Revert / Reset
map <leader>gr <Action>(Vcs.RollbackChangedLines)
map <leader>gR <Action>(ChangesView.Revert)
map <leader>gH <Action>(Git.Reset)
" Git - Log
nmap <leader>gl <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gL <Action>(Vcs.Show.Log)
nmap <leader>gg <Action>(Vcs.Log.OpenAnotherTabInEditor)
vmap <leader>gl <Action>(Vcs.ShowHistoryForBlock)
map <leader>ga <Action>(Annotate)

" Tools
" Tools - Files
map <leader>N <Action>(NewElement)
" Tools - Files - Scratch
nmap <leader>sn <Action>(NewScratchFile)
nmap <leader>sb <Action>(NewScratchBuffer)
nmap <leader>sl <Action>(Scratch.ShowFilesPopup)
" Tools - Terminal
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>T <Action>(Terminal.OpenInTerminal)
" Tools - Database
map <leader>D <Action>(ActivateDatabaseToolWindow)

" Code Navigation
map <leader>b <Action>(GotoDeclaration)
nmap <C-S-i> <Action>(GotoImplementation)
" Code Navigation - Files
nmap <leader>e <Action>(RecentFiles)
map gf <Action>(GotoFile)
nmap gf <Action>(EditorSelectWord)<Action>(GotoFile)
nmap <leader>1 <Action>(SelectInProjectView)
nmap <leader>2 <Action>(RevealIn)
" Code Navigation - Selections
vmap n <Action>(SelectNextOccurrence)
vmap w <Action>(EditorSelectWord)
vmap W <Action>(EditorUnSelectWord)
" Code Navigation - Back and Forward
map <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)
" Code Navigation - Find and replace
map <leader>S <Action>(FileStructurePopup)
nmap <leader>/ <Action>(Find)
map <leader>? <Action>(Replace)
map <leader>F <Action>(FindInPath)
map <leader>R <Action>(ReplaceInPath)
vmap H <Action>(HighlightUsagesInFile)
" Code Navigation - Next previews bindings
map <leader>[ <Action>(EditorCodeBlockStart)
map <leader>] <Action>(EditorCodeBlockEnd)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
" Code Navigation - Next previews bindings - Errors
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
" Code Navigation - Next previews bindings - Changes
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)
"map ]c <Action>(NextDiff)
"map [c <Action>(PreviousDiff)
" Code Navigation - Next previews bindings - Bookmarks
nmap ]b <Action>(GotoNextBookmark)
nmap [b <Action>(GotoPreviousBookmark)

" Bookmarks
nmap <leader>mm <Action>(ToggleBookmark)
nmap <leader>mM <Action>(ToggleBookmarkWithMnemonic)
" Bookmarks - Manage
nmap <leader>mr <Action>(EditBookmark)
nmap <leader>ml <Action>(ShowBookmarks)
nmap <leader>mj <Action>(GotoNextBookmark)
" Bookmarks - References
map <leader>c <Action>(CopyPathFromRepositoryRootProvider)
map <leader>C <Action>(CopyReference)

" Code
nmap <C-S-K> <Action>(MoveStatementUp)
nmap <C-S-J> <Action>(MoveStatementDown)
" Code - Generation
nmap <leader>G <Action>(Generate)
map <leader>I <Action>(ImplementMethods)
map <leader>O <Action>(OverrideMethods)
vmap <leader>e <Action>(SurroundWith)
" Code - Refactorings
vmap T <Action>(Refactorings.QuickListPopupAction)
vmap C <Action>(IntroduceConstant)
vmap V <Action>(IntroduceVariable)
vmap M <Action>(ExtractMethod)
vmap <leader>v <Action>(IntroduceVariable)
vmap <leader>c <Action>(IntroduceConstant)
vmap <leader>m <Action>(ExtractMethod)
" Code - Refactorings - Normal mode
nmap <leader>o <Action>(OptimizeImports)
nmap <leader>i <Action>(Inline)
nmap <leader>r <Action>(RenameElement)
nmap <leader>p <Action>(IntroduceParameter)
nmap <leader>P <Action>(IntroduceField)

" Debug
map <leader>d :action PhpListenDebugAction<CR>
map <leader>B <Action>(ToggleLineBreakpoint)
vmap <leader>r <Action>(EvaluateExpression)
nmap <leader>w <Action>(Debugger.AddToWatch)
nmap <leader>. <Action>(Resume)
nmap <leader>> <Action>(RunToCursor)
nmap <leader>do <Action>(StepOver)
nmap <leader>dO <Action>(StepOut)
nmap <leader>di <Action>(StepInto)

" Run
map <leader>jr <Action>(HTTPClient.RunAll)

" Code info
map <leader>q <Action>(QuickJavaDoc)
map <leader>Q <Action>(QuickImplementations)
map <C-A-u> <Action>(ShowUmlDiagramPopup)

"if &ide =~? 'PhpStorm'
"endif
